---
layout: default
---

<div class="header black">
    <div class="header-content">
      <h1 class="h1 brown">{{titel}}</h1>
    </div>
  </div>
  <div class="section-unit-overview">
    <div class="container" style="flex-direction: row;">
      <div class="overview-unit">
        <img src="{{hoofdafbeelding}}" loading="lazy" alt="" class="main-unit-image">
        <div class="unit-info">
          <div class="titleunit br">{{titel}}</div>
          <div class="smalltext">Brusselsestraat 89, Leuven</div>
          <div class="separateline"></div>
          <div>{{beschrijving}}</div>
          <div class="holder-unit-size">
            <div class="unitsize">{{grootte}}</div>
            <div class="smalltext">m²</div>
          </div>
          {% if mezzanine %}
          <div class="feature"><img src="/static/img/icons8-mezzanine-32.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Mezzanine</div>
          </div>
          {% endif %}
          {% if sanitair %}
          <div class="feature"><img src="/static/img/icons8-bathroom-30.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Eigen sanitair</div>
          </div>
          {% endif %}
          {% if keuken %}
          <div class="feature"><img src="/static/img/icons8-kitchen-50.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Ingerichte keuken</div>
          </div>
          {% endif %}
          {% if bureau %}
          <div class="feature"><img src="/static/img/icons8-office-30.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Bureau</div>
          </div>
          {% endif %}
          {% if kledingkast %}
          <div class="feature"><img src="/static/img/icons8-wardrobe-48.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Kledingkast</div>
          </div>
          {% endif %}
          {% if bed %}
          <div class="feature"><img src="/static/img/icons8-bed-48.png" loading="lazy" width="20" alt="" class="iconfeature">
            <div>Bed</div>
          </div>
          {% endif %}
          <div class="spacer"></div>
          <div class="spacer"></div>
          <a href="/contact.html" class="button-new w-button">Rondleiding aanvragen</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="container">
      {{html | markdown | safe}}
    </div>
  </div>
  <div class="about-section">
    <div class="container">
      <div class="holder-images">
        {% set imagesList = afbeeldingen %}
          {% for image in imagesList %}
          <a href="{{image}}" data-lightbox="{{titel}}" data-title="{{titel}} Breugelhof">
            <img src="{{image}}" loading="lazy" alt="Studenten {{type}} in Leuven" class="image-in-list">
          </a>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="container">
      <div class="row inverse-phone">
        <div class="_2-row-image cc-row-spacing"><img src="/static/img/breugelhof-sep-6.jpg" loading="lazy" sizes="(max-width: 2420px) 100vw, 2420px" srcset="/static/img/breugelhof-sep-6-p-500.jpg 500w, /static/img/breugelhof-sep-6-p-800.jpg 800w, /static/img/breugelhof-sep-6-p-1080.jpg 1080w, /static/img/breugelhof-sep-6.jpg 2420w" alt=""></div>
        <div class="_2-row-text">
          <div data-w-id="863085f2-1e86-5fc8-0a33-37771a8a1172" style="opacity:1" class="heading-subtitle">
            <h2 class="heading-title">Brusselsestraat 89, Leuven</h2>
          </div>
          <div data-w-id="863085f2-1e86-5fc8-0a33-37771a8a1175" style="opacity:1" class="home-one-about-content">
            <p>We creëren hier comfortabele en volledig gerenoveerde éénslaapkamerappartementen in een gebouw dat een gezellige sfeer uitstraalt. In de buurt vind je een supermarkt, apotheek, bakker en nog veel meer, waardoor alles wat je nodig hebt binnen handbereik ligt.</p>
            <div class="widget">
              <div class="service-list">
                <div class="service-list-item">
                  <a href="/#appartementen" class="service-list-link w-inline-block">
                    <div class="service-list-word-2">
                      <div class="service-list-text">Ontdek onze andere units</div>
                    </div>
                    <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                      </svg></div>
                  </a>
                </div>
                <div class="service-list-item">
                  <a href="/contact.html" class="service-list-link w-inline-block">
                    <div class="service-list-word-2">
                      <div class="service-list-text">Contacteer ons</div>
                    </div>
                    <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                      </svg></div>
                  </a>
                </div>
                <div class="service-list-item"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "./partials/bottomsectionunits.njk" %}
  <div class="cta">
    <div class="container cc-cta">
      <div class="cta-column left">
        <div class="cta-left-top">
          <h3 class="h3 cc-cta">Interesse?</h3>
          <div class="cta-line"></div>
        </div>
        <h2 class="h2"><span class="text-span">Heb je interesse in dit appartement? Contacteer ons!</span></h2>
      </div>
      <div class="cta-column">
        <a href="/contact.html" class="button cc-cta w-button">Contacteer Breugelhof</a>
      </div>
    </div>
  </div>
