---
layout: default
path: home
title: "Breugelhof - studentenresidentie in Leuven"
description: "Breugelhof is een studentenresidentie in Leuven, we bieden betaalbare verblijfplaatsen aan die recent gerenoveerd zijn."
---

<div class="header">
  <div class="header-content">
    <h1 data-w-id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" class="h1">Studentenresidentie Breugelhof</h1>
    <p data-w-id="cd085e48-08fc-46a5-a6c3-97346f451e6d" class="paragraph">Breugelhof, de plek voor studenten die op zoek zijn naar een moderne, gezellige én centraal gelegen woonplek</p>
    <a href="contact.html" class="button w-button">Interesse? Contacteer ons!</a>
  </div>
</div>
<div class="about-section">
  <div class="container">
    <div class="row">
      <div class="_2-row-image cc-row-spacing"><img src="/static/img/breugelhof-sep-9.jpg" loading="lazy" sizes="(max-width: 1816px) 100vw, 1816px" srcset="/static/img/breugelhof-sep-9-p-500.jpg 500w, /static/img/breugelhof-sep-9-p-800.jpg 800w, /static/img/breugelhof-sep-9.jpg 1816w" alt=""></div>
      <div class="_2-row-text">
        <div class="heading-subtitle">
          <h2 class="heading-title">11 units in het hart van Leuven</h2>
        </div>
        <div class="home-one-about-content">
          <p> We creëren hier comfortabele en volledig gerenoveerde éénslaapkamerappartementen in een gebouw dat een gezellige sfeer uitstraalt en beschikt over 9 studio’s en 2 appartementen.</p>
          <p style="margin-top: 5px">Elke ruimte is zorgvuldig ingericht voor een aangenaam verblijf. De huurprijs hangt af van de grootte van de studio (de kamers beginnen vanaf 21 m²), dus er is altijd een optie die bij jouw wensen past.</p>
          <div class="widget">
            <div class="service-list">
              <div class="service-list-item">
                <a href="#studios" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">9 studios</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item">
                <a href="#appartementen" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">2 appartementen</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% set unitsList = collections.units %}
<div id="appartementen" class="about-section dark">
  <div class="container">
    <div class="holderunits">
      {% for unit in unitsList %}
        {% if unit.data.type == "Appartement" %}
        <a href="units/{{ unit.data.titel }}.html" class="unit w-inline-block">
          <div class="holderunitinfo">
            <div><span class="titleunit">{{ unit.data.titel }} - </span><span class="available-tag {% if unit.data.status == 'verhuurd' %}false{% endif %}">{{ unit.data.status }}</span></div>
            <div>{{ unit.data.grootte }} m²</div>
          </div>
          <img src="{{ unit.data.hoofdafbeelding }}" loading="lazy" alt="" class="imageunit">
          <div class="meerinfobtn">
            <div>Meer info</div>
            <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
              </svg></div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div id="studios" class="about-section nobg">
  <div class="container">
    <div class="holderunits stretch">
      <a href="units/studio-1.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 1 - </span><span class="available-tag">beschikbaar</span></div>
          <div>29,74 m²</div>
        </div><img src="/static/img/Studio-01.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-01-p-500.jpg 500w, /static/img/Studio-01-p-800.jpg 800w, /static/img/Studio-01-p-1080.jpg 1080w, /static/img/Studio-01-p-1600.jpg 1600w, /static/img/Studio-01-p-2000.jpg 2000w, /static/img/Studio-01-p-2600.jpg 2600w, /static/img/Studio-01-p-3200.jpg 3200w, /static/img/Studio-01.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-2.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 2 - </span><span class="available-tag false">verhuurd</span></div>
          <div>24,31 m² + mezzanine</div>
        </div><img src="/static/img/Studio-02.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-02-p-500.jpg 500w, /static/img/Studio-02-p-800.jpg 800w, /static/img/Studio-02-p-1080.jpg 1080w, /static/img/Studio-02-p-1600.jpg 1600w, /static/img/Studio-02-p-2000.jpg 2000w, /static/img/Studio-02-p-2600.jpg 2600w, /static/img/Studio-02-p-3200.jpg 3200w, /static/img/Studio-02.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-3.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 3 - </span><span class="available-tag">beschikbaar</span></div>
          <div>22,62 m²</div>
        </div><img src="/static/img/Studio-03.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-03-p-500.jpg 500w, /static/img/Studio-03-p-800.jpg 800w, /static/img/Studio-03-p-1080.jpg 1080w, /static/img/Studio-03-p-1600.jpg 1600w, /static/img/Studio-03-p-2000.jpg 2000w, /static/img/Studio-03-p-2600.jpg 2600w, /static/img/Studio-03-p-3200.jpg 3200w, /static/img/Studio-03.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-4.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 4 - </span><span class="available-tag">beschikbaar</span></div>
          <div>22,13 m²</div>
        </div><img src="/static/img/Studio-04.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-04-p-500.jpg 500w, /static/img/Studio-04-p-800.jpg 800w, /static/img/Studio-04-p-1080.jpg 1080w, /static/img/Studio-04-p-1600.jpg 1600w, /static/img/Studio-04-p-2000.jpg 2000w, /static/img/Studio-04-p-2600.jpg 2600w, /static/img/Studio-04-p-3200.jpg 3200w, /static/img/Studio-04.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-5.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 5 - </span><span class="available-tag">beschikbaar</span></div>
          <div>27,40 m²</div>
        </div><img src="/static/img/Studio-05.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-05-p-500.jpg 500w, /static/img/Studio-05-p-800.jpg 800w, /static/img/Studio-05-p-1080.jpg 1080w, /static/img/Studio-05-p-1600.jpg 1600w, /static/img/Studio-05-p-2000.jpg 2000w, /static/img/Studio-05-p-2600.jpg 2600w, /static/img/Studio-05-p-3200.jpg 3200w, /static/img/Studio-05.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-6.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 6 - </span><span class="available-tag">beschikbaar</span></div>
          <div>23,77 m²</div>
        </div><img src="/static/img/Studio-06.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-06-p-500.jpg 500w, /static/img/Studio-06-p-800.jpg 800w, /static/img/Studio-06-p-1080.jpg 1080w, /static/img/Studio-06-p-1600.jpg 1600w, /static/img/Studio-06-p-2000.jpg 2000w, /static/img/Studio-06-p-2600.jpg 2600w, /static/img/Studio-06-p-3200.jpg 3200w, /static/img/Studio-06.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-7.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 7 - </span><span class="available-tag">beschikbaar</span></div>
          <div>28,24 m²</div>
        </div><img src="/static/img/Studio-07.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-07-p-500.jpg 500w, /static/img/Studio-07-p-800.jpg 800w, /static/img/Studio-07-p-1080.jpg 1080w, /static/img/Studio-07-p-1600.jpg 1600w, /static/img/Studio-07-p-2000.jpg 2000w, /static/img/Studio-07-p-2600.jpg 2600w, /static/img/Studio-07-p-3200.jpg 3200w, /static/img/Studio-07.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-8.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 8 - </span><span class="available-tag">beschikbaar</span></div>
          <div>18,99 m² + mezzanine</div>
        </div><img src="/static/img/Studio-08.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-08-p-500.jpg 500w, /static/img/Studio-08-p-800.jpg 800w, /static/img/Studio-08-p-1080.jpg 1080w, /static/img/Studio-08-p-1600.jpg 1600w, /static/img/Studio-08-p-2000.jpg 2000w, /static/img/Studio-08-p-2600.jpg 2600w, /static/img/Studio-08-p-3200.jpg 3200w, /static/img/Studio-08.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
      <a href="units/studio-9.html" class="unit onwhite w-inline-block">
        <div class="holderunitinfo">
          <div><span class="titleunit">Studio 9 - </span><span class="available-tag">beschikbaar</span></div>
          <div>22,68 m²</div>
        </div><img src="/static/img/Studio-09.jpg" loading="lazy" sizes="(max-width: 4961px) 100vw, 4961px" srcset="/static/img/Studio-09-p-500.jpg 500w, /static/img/Studio-09-p-800.jpg 800w, /static/img/Studio-09-p-1080.jpg 1080w, /static/img/Studio-09-p-1600.jpg 1600w, /static/img/Studio-09-p-2000.jpg 2000w, /static/img/Studio-09-p-2600.jpg 2600w, /static/img/Studio-09-p-3200.jpg 3200w, /static/img/Studio-09.jpg 4961w" alt="" class="imageunit">
        <div class="meerinfobtn">
          <div>Meer info</div>
          <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
            </svg></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="separator cc-background-grey">
  <div class="container">
    <div class="line-color"></div>
  </div>
</div>
<div class="premium-intro">
  <div class="container">
    <div class="h2-container"></div>
  </div>
  <div class="maps w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.5400536171405!2d4.693791875086951!3d50.88065694375343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c160de8bec3cc7%3A0x74332c5c7fcb3ec3!2sBrusselsestraat%2089%2C%203000%20Leuven!5e1!3m2!1snl!2sbe!4v1749132403425!5m2!1snl!2sbe" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
  <div class="undermaps">
    <div>
      <h3 class="h3">Locatie: Brusselsestraat 89, Leuven</h3>
      <p class="paragraph-2 cc-gray">In de buurt vind je een supermarkt, apotheek, bakker en nog veel meer, waardoor alles wat je nodig hebt binnen handbereik ligt.</p>
    </div>
  </div>
</div>
<div class="features">
  <div class="container">
    <div class="h2-container">
      <h2 class="h2">Waarom kiezen voor Breugelhof?</h2>
    </div>
    <div class="collection-list">
      <div class="featuresitem">
        <div class="featureitemholder">
          <h3 class="h3">Centrale ligging</h3>
          <p class="paragraph cc-gray">Op wandelafstand van universiteiten, winkels, openbaar vervoer en horeca. Alles wat je nodig hebt, ligt om de hoek.</p>
        </div>
      </div>
      <div class="featuresitem">
        <div class="featureitemholder">
          <h3 class="h3">Volledig gerenoveerd</h3>
          <p class="paragraph cc-gray">Breugelhof werd recent volledig vernieuwd, met aandacht voor kwaliteit, licht en ruimte – perfect afgestemd op studenten.</p>
        </div>
      </div>
      <div class="featuresitem">
        <div class="featureitemholder">
          <h3 class="h3">Gezellige, huiselijke sfeer</h3>
          <p class="paragraph cc-gray">Breugelhof straalt warmte en comfort uit. Dankzij het kleinschalige karakter en de sfeervolle inrichting voelt het hier meteen als thuiskomen.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="separateinsection"></div>
      <h2 class="h2">Voorzieningen</h2>
      <div class="titleline"></div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Bureau</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Kledingkast</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Bed</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Ingerichte keuken</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Eigen sanitair</div>
      </div>
    </div>
    <div>
      <div class="separateinsection"></div>
      <h2 class="h2">Inbegrepen in maandelijkse kosten</h2>
      <div class="titleline"></div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Water</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Elektriciteit</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Verwarming</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Internet</div>
      </div>
    </div>
    <div>
      <div class="separateinsection"></div>
      <h2 class="h2">Inbegrepen in huurprijs</h2>
      <div class="titleline"></div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Kosten algemene delen</div>
      </div>
      <div class="listitem"><img src="/static/img/icons8-checkmark-48.png" loading="lazy" alt="" class="checkicon">
        <div>Brandverzekering</div>
      </div>
    </div>
  </div>
</div>
<div class="separator cc-background-grey">
  <div class="container">
    <div class="line-color"></div>
  </div>
</div>
<div class="cta">
  <div class="container cc-cta">
    <div class="cta-column">
      <div class="cta-left-top">
        <h3 class="h3 cc-cta">Interesse?</h3>
        <div class="cta-line"></div>
      </div>
      <h2 class="h2"><span class="text-span">Heb je interesse in een van onze appartementen of studio&#x27;s? Contacteer ons!</span></h2>
    </div>
    <div class="cta-column">
      <a href="contact.html" class="button cc-cta w-button">Contacteer Breugelhof</a>
    </div>
  </div>
</div>
