---
titel: "Brusselsestraat 89, Leuven"
tekst: "We creëren hier comfortabele en volledig gerenoveerde éénslaapkamerappartementen in een gebouw dat een gezellige sfeer uitstraalt. In de buurt vind je een supermarkt, apotheek, bakker en nog veel meer, waardoor alles wat je nodig hebt binnen handbereik ligt."
afbeelding: "/static/img/breugelhof-sep-6.jpg"
---
<div class="about-section">
  <div class="container">
    <div class="row inverse-phone">
      <div class="_2-row-image cc-row-spacing"><img src="{{afbeelding┼" loading="lazy" alt=""></div>
      <div class="_2-row-text">
        <div data-w-id="863085f2-1e86-5fc8-0a33-37771a8a1172" style="opacity:1" class="heading-subtitle">
          <h2 class="heading-title">{{titel}}</h2>
        </div>
        <div data-w-id="863085f2-1e86-5fc8-0a33-37771a8a1175" style="opacity:1" class="home-one-about-content">
          <p>{{tekst}}</p>
          <div class="widget">
            <div class="service-list">
              <div class="service-list-item">
                <a href="/#appartementen" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">Ontdek onze andere units</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item">
                <a href="/contact.html" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">Contacteer ons</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
