<div class="about-section">
  <div class="container">
    <div class="row">
      <div class="_2-row-image cc-row-spacing"><img src="{{homepagesectionone.afbeelding}}" loading="lazy" alt=""></div>
      <div class="_2-row-text">
        <div class="heading-subtitle">
          <h2 class="heading-title">{{homepagesectionone.titel}}</h2>
        </div>
        <div class="home-one-about-content">
          <p>{{homepagesectionone.tekst1}}</p>
          <p style="margin-top: 5px">{{homepagesectionone.tekst2}}</p>
          <div class="widget">
            <div class="service-list">
              <div class="service-list-item">
                <a href="#studios" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">9 studios</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item">
                <a href="#appartementen" class="service-list-link w-inline-block">
                  <div class="service-list-word-2">
                    <div class="service-list-text">2 appartementen</div>
                  </div>
                  <div class="service-list-arrow w-embed"><svg fill="none" height="16" viewbox="0 0 64 64" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="m54.28 53.99v-45.33h-45.33v2.93h40.33l-41.25 41.25 2.07 2.07 41.25-41.25v40.33z"></path>
                    </svg></div>
                </a>
              </div>
              <div class="service-list-item"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
