<div class="navholder">
    <div class="navinside">
        <a href="index.html" aria-current="page" class="logo w-inline-block w--current">
            <img width="141" sizes="(max-width: 479px) 100vw, 141px" alt="Logo breugelhof" src="/static/img/logo-breugelhof.png" srcset="/static/img/logo-breugelhof-p-500.png 500w, /static/img/logo-breugelhof-p-800.png 800w, /static/img/logo-breugelhof-p-1080.png 1080w, /static/img/logo-breugelhof-p-1600.png 1600w, /static/img/logo-breugelhof-p-2000.png 2000w, /static/img/logo-breugelhof-p-2600.png 2600w, /static/img/logo-breugelhof.png 3405w"></a>
        <a href="contact.html" class="navcta w-button">Contact</a>
    </div>
</div>
